<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Работа с User</title>
</head>

<body>
<h3 th:text="${user.id == null ? 'Добавление user' : 'Изменение user'}"></h3>
<div class="container">
    <form th:action="@{/admin/edit}"
          th:object="${user}" method="post" class="form-horizontal">

        <div>
            <input th:field="*{id}" hidden/>
        </div>

        <div> <label>Name:</label>
            <input th:field="*{name}" />
        </div>

        <div> <label>Email:</label>
            <input th:field="*{email}" />
        </div>

        <div> <label>Age:</label>
            <input th:field="*{age}" />
        </div>

        <div class="form-group">
            <label class="font-weight-bold">Password</label>
            <input type="password" class="form-control" th:id="password" name="password">
        </div>

        <div>
        <label class="font-weight-bold">Role</label>
        <div>
            <select  class="form-control" name="roles" multiple>
                <option th:each="role: ${allRoles}"
                        th:value="${role.id}"
                        th:text="${role.name}" name="roles">
                </option>
            </select>
        </div>
        </div>

        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
</div>

</body>
</html>